/* 
=======================================
public style
========================================

*/
* , *::after , *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.container{
    width: 75%;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
=======================================
start Navvvvvvvvvvvvvvv
========================================

*/
nav{

    text-transform: capitalize;
    font-size: 16px;
    padding: 0px 0
}
nav .mail {
    background-color:#ff4800;
    color: #Fff;

}
nav .mail .container .row span{
    margin-left: 50px;
}
nav .mail .container .row .btn {
    background: #262222;

    color: #Fff;
    padding: 20px 50px;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    font-size: 16px;


}
nav label , nav input {
    display: none;
}
nav .logo {
    background-color: #fff;
    padding: 40px 0 0;
}
nav .logo .container .row img {
padding-bottom: 20px;
cursor: pointer;
}
nav .logo .container .row .nav-list li {
    display: inline-block;    
    padding-bottom: 30px;

    margin-right: 20px;


}
nav .logo .container .row .nav-list li:nth-child(1){
    border-bottom: 2px solid #ff4800;
}
nav .logo .container .row .nav-list li:nth-child(1) a{
    color: #ff4800;
}
nav .logo .container .row .nav-list li a {
    text-decoration: none;
    color: #262626;
  
    font-weight: bold;
}
nav .logo .container .row .nav-list li:hover a {
    text-decoration: none;
    color: #ff4800;

}
nav .logo .container .row .nav-list  li:hover:nth-child(2) , li:hover:nth-child(3) ,li:hover:nth-child(4) ,li:hover:nth-child(5) , li:hover:nth-child(6)  {
    border-bottom: 2px solid #ff4800;
}
/* 
=======================================
start Navvvvvvvvvvvvvvv Media 450px
========================================

*/
@media(max-width:1000px){
    nav .mail .container .row {
        justify-content: center;
    }
    nav .mail .container .row p{
        display: none;
    }
    nav .logo .container {
        width: 91%;
    }
    nav .logo .container .row label{
        display: block;
        order: 2;
        font-size: 25px;
        padding-bottom: 20px;
    }
    nav .logo .container .row input:checked ~ .nav-list{
        display: block;
    }
    nav .logo .container .row  img{
        order: 1;
    }
    nav .logo .container .row .nav-list  {
        display: none;
        list-style: none;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 55%;
        z-index: 1111;

}
    nav .logo .container .row .nav-list li {
        display: block;
        margin: 20px 0 20px 30px;
        width: 60%;
        transition: .3s transform ;
        -webkit-transition: .3s transform ;
        -moz-transition: .3s transform ;
        -ms-transition: .3s transform ;
        -o-transition: .3s transform ;
}

nav .logo .container .row .nav-list li:hover   {
  transform: translatex(5px);
  -webkit-transform: translatex(5px);
  -moz-transform: translatex(5px);
  -ms-transform: translatex(5px);
  -o-transform: translatex(5px);
  background-image: ;
}

}
/* 
=======================================
start header
========================================

*/
header
{
    width: 100%;

    position: relative;

    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition:.6s all ease ;
    -webkit-transition:.6s all ease ;
    -moz-transition:.6s all ease ;
    -ms-transition:.6s all ease ;
    -o-transition:.6s all ease ;
}
header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: 1;
}

header .container .btn {
    position: absolute;
    background-color: #ff4800;
    color: #Fff;
    font-size: 20px;
    border: 2px solid transparent;
    top:40%;
    right:5%;
    z-index: 1;
    padding: 20px 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

header .container .btn a { color: #Fff;}

header .container .row {
    justify-content: flex-start;
}
header .container .row .h-p{
    width: 50%;
    z-index: 2;
    margin-top: 13%;    margin-left: 5%;
    color: #Fff;


}
header .container .row .h-p h2 {
    font-size: 98px;
}
header .container .row .h-p h3 {
    font-size: 43px;
    margin-bottom: 30px;
}
header .container .row .h-p p {
    margin-bottom: 50px;
}
header .container .row .h-p button{
    background-color: #ff4800;
    border: none;
    padding: 20px 60px;
    border: 2px solid transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: #Fff;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}
header .container .row .h-p button:nth-child(5) {
   background-color: transparent;
   border: 2px solid #ff4800;
   transition: all .2s ease;
   -webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
   -ms-transition: all .2s ease;
   -o-transition: all .2s ease;
}
header .container .row .h-p button:nth-child(5):hover {
    background-color: #ff4800;

 }
 header .container .row .h-p .links {
    margin-top: 100px;
    margin-bottom: 30px;

 
 }
 header .container .row .h-p .links a:first-child {
    color: #ff4800;
 }
 header .container .row .h-p .links a {
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #Fff;


 }
 header .container .row .h-p .links a:active {
    color: #ff4800;
 }

 /* 
=======================================
start header Mediaaaaaaa 450px
========================================

*/
@media(max-width:450px){
    header {
        height: auto;
    }
    header .container{
        width: 100%;
    }
    header .container .btn {
display: none;
    }
    header .container .row .h-p{
        width: 100%;

    
    }
    header .container .row .h-p h2 {
        font-size: 66px;}
        header .container .row .h-p h3 {
            font-size: 26px;

          }
          header .container .row .h-p p {
            display: none;
          }
          header .container .row .h-p button:nth-child(5) {
            display: none;
          }
          header .container .row .h-p .links a {
            display: none;
          }

}
 /* 
=======================================
start dance
========================================

*/
.dance{
    margin-top: 128px
}
.dance .container{}
.dance .container .row {}
.dance .container .row .music {
    text-align: center;
    background:#Fff ;
    padding-top: 56px;
    width: 33%;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.dance .container .row .music {
    text-align: center;
    background: #fff;
    padding-top: 56px;
    width: 32%;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.dance .container .row .music .white {
    display: none;
 }
 .dance .container .row .music:hover .white {
    display:unset;
 }
 .dance .container .row .music:hover .gray {
    display:none;
 }



.dance .container .row .music:first-child {
    background: linear-gradient(270deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%);
    color: #Fff;

}
.dance .container .row .music:nth-child(2):hover , .dance .container .row .music:nth-child(3):hover{
    background: linear-gradient(270deg, rgba(255,90,0,1) 0%, rgba(255,54,0,1) 100%);


}
.dance .container .row .music h2 {
  font-size: 30px;
  margin: 20px 0 20px 0;
}
.dance .container .row .music p {
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
    line-height: 1.7;
    margin-bottom: 30px;

}
.dance .container .row .music:nth-child(2) p , .dance .container .row .music:nth-child(3) p {
    color: #595858;
}
.dance .container .row .music:nth-child(2)  , .dance .container .row .music:nth-child(3) {
    
    }
.dance .container .row .music:nth-child(2):hover p , .dance .container .row .music:nth-child(3):hover p{
color: #Fff;    

}
.dance .container .row .music:nth-child(2):hover h2 , .dance .container .row .music:nth-child(3):hover h2{
    color: #fff;
    }
     /* 
=======================================
start dance media 1000px
========================================

*/
@media( max-width:1000px){
    .dance .container .row {
        flex-flow: row wrap;

  
    }
    /* .dance .container{
        width: 94%;
    } */
    .dance .container .row .music {
        width: 48%;
  
        margin-bottom: 30px;
    }
}
    
         /* 
=======================================
start dance media 450px
========================================

*/

@media( max-width:450px){
    .dance .container .row {
        flex-flow: column wrap;
    }
    .dance .container{
        width: 94%;
    }
    .dance .container .row .music {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }
}
         /* 
=======================================
start black
========================================
*/
.black {
    margin-top: 100px;
}
.black .back {
    background-image: url(/image/welcome-bg.jpg.webp);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.black .back::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
    /* z-index: -1; */

}
.black .back .container  {}
.black .back .container .row  {
    overflow: hidden;
}
.black .back .container .row .h-p  {
    margin-top: 100px;
    margin-bottom: 80px;
    width: 60%;z-index: 1;
}
.black .back .container .row .h-p h2  {
    color: #Fff;
    font-size: 35px;
    margin-bottom: 70px;
    position: relative;
}
.black .back .container .row .h-p h2::after {
     content: "";
     width: 71px;
     height: 5px;
     border-radius:5px ;
     background-color: #ff4800;
     position: absolute;
     top: 66px;
     left: 14px;
     -webkit-border-radius:5px ;
     -moz-border-radius:5px ;
     -ms-border-radius:5px ;
     -o-border-radius:5px ;
}
.black .back .container .row .h-p p {
    color: #b7b7b7;
    line-height: 1.7;
    margin-bottom: 50px;
    width: 90%;

}
.black .back .container .row .h-p .btn {
    background-color: #ff4800;
border: none;
padding: 20px 60px;
border: 2px solid transparent;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
-ms-border-radius: 25px;
-o-border-radius: 25px;
color: #Fff;
margin-right: 20px;
font-size: 20px;
cursor: pointer;
text-transform: capitalize;
}
.black .back .container .row .img  {
    margin-top: 48px;
    z-index: 1;

}
.black .back .container .row .img img {}
         /* 
=======================================
start black media 1000px
========================================
*/
@media (max-width:1000px){
    .black .back {
    
        background-position: bottom;
    }
    .black .back .container {
        width: 95%;
    }
    .black .back .container .row  {
        flex-flow: column wrap;
    }
    .black .back .container .row .h-p  {
        /* margin-top: 100px;
        margin-bottom: 80px; */
        width: 100%;
        order: 2;
    }
    
.black .back .container .row .h-p h2::after {

    top: 71px;
    left: 3px;}
    .black .back .container .row .h-p p {
       
        width: 100%;
      }
    .black .back .container .row .img  {
 width: 100%;order: 1;
    
    }
    .black .back .container .row .img img {
        width: 100%;
    }

}

/* 
=======================================
start black media 450px
========================================
*/
@media (max-width:450px){
    .black .back {
    
        background-position: bottom;
    }
    .black .back .container {
        width: 95%;
    }
    .black .back .container .row  {
        flex-flow: column wrap;
    }
    .black .back .container .row .h-p  {
        /* margin-top: 100px;
        margin-bottom: 80px; */
        width: 100%;
        order: 2;
    }
    
.black .back .container .row .h-p h2::after {

    top: 107px;
    left: 3px;}
    .black .back .container .row .h-p p {
       
        width: 100%;
      }
    .black .back .container .row .img  {
 width: 100%;order: 1;
    
    }
    .black .back .container .row .img img {
        width: 100%;
    }

}
/* 
=======================================
start event
========================================
*/
.event{
    margin-top: 100px;
}
.event .container{}
.event .container .row{
    overflow: hidden;
    align-items: flex-start;
}
.event .container .row .upcoming{
    width: 48%;
}
.event .container .row .upcoming h2 {
    font-size: 40px;
margin-bottom: 80px;position: relative;
}
.event .container .row .upcoming h2::after {
    content: "";
    width: 71px;
    height: 5px;
    border-radius:5px ;
    background-color: #ff4800;
    position: absolute;
    top: 66px;
    left: 14px;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}

.event .container .row .upcoming .row{
  flex-direction: row;
  margin-bottom: 63px;
}
.event .container .row .upcoming .row .img{
    width: 30%;
}
.event .container .row .upcoming .row .img img{}

.event .container .row .upcoming .row .h-p{

    width: 69%;
}
.event .container .row .upcoming .row .h-p h3{


}
.event .container .row .upcoming .row .h-p h3 a{
color: black;
text-decoration: none;
}
.event .container .row .upcoming .row .h-p h3 a:hover{

    text-decoration: underline;
    }
.event .container .row .upcoming .row .h-p h4 {
margin-bottom: 20px;margin-top: 10px;
}
.event .container .row .upcoming .row .h-p h4 a{
    color: black;
    text-decoration: none;
}
.event .container .row .upcoming .row .h-p h4 a:first-of-type{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
}
.event .container .row .upcoming .row .h-p h4 a:first-of-type::after{
    content:"|";
    width: 0;
    height: 0;
    position: absolute;
    right: -5px;
    top: 0px;
  
}
.event .container .row .upcoming .row .h-p h4 a:hover{
 
    text-decoration: underline;
}
.event .container .row .upcoming .row .h-p p{
    color: #929191;
    line-height: 1.5;
    margin-bottom: 10px;

}
.event .container .row .upcoming .row .h-p span {}
.event .container .row .upcoming .row .h-p span a {
    color: #ff4800;
    text-decoration: none;
    text-transform: capitalize;
}
.event .container .row .upcoming .row .h-p span a:hover {
    text-decoration: underline;
}


/*         right side*/

.event .container .row .Featured{
    width: 50%;
   overflow: hidden;position: relative;

}
.event .container .row .Featured .gray{
  background: #edf3f5;;
  margin-top: 112px;
  overflow: hidden;
  padding: 40px 20px;
}

.event .container .row .Featured  h2 {
    font-size: 40px;
margin-bottom: 80px;position: relative;
}
.event .container .row .Featured h2::after {
    content: "";
    width: 71px;
    height: 5px;
    border-radius:5px ;
    background-color: #ff4800;
    position: absolute;
    top: 66px;
    left: 14px;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.event .container .row .Featured  .row {
    margin-bottom: 70px;}
.event .container .row .Featured .row  .img {
    width: 30%;
}
.event .container .row .Featured .row  .h-p {
    width: 50%; 
}

.event .container .row .Featured .row  .h-p h3 a{
    color: black;
    text-decoration: none;
    }
    .event .container .row .Featured .row  .h-p h3 a:hover{
    
        text-decoration: underline;
        }
    .event .container .row .Featured .row  .h-p h4 {
    margin-bottom: 20px;margin-top: 10px;
    }
    .event .container .row .Featured .row  .h-p h4 a{
        color: black;
        text-decoration: none;
    }
    .event .container .row .Featured .row .h-p h4 a:first-of-type{
        color: black;
        text-decoration: none;
        margin-right: 20px;
        position: relative;
    }
    .event .container .row .Featured .row .h-p h4 a:first-of-type::after{
        content:"|";
        width: 0;
        height: 0;
        position: absolute;
        right: -5px;
        top: 0px;
      
    }
    .event .container .row .Featured .row .h-p h4 a:hover{
     
        text-decoration: underline;
    }
    .event .container .row .Featured .row .h-p p{
        color: #929191;
        line-height: 1.5;
        margin-bottom: 40px;
    
    }
    .event .container .row .Featured .row .h-p button {
        background-color: #ff4800;
        border: none;
        padding: 15px 40px;
        border: 2px solid transparent;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        color: #Fff;
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
        text-transform: capitalize;
      }
    .event .container .row .Featured .line {
        width: 71%;
        height: 5px;
        background-color: #ff4800;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin-bottom: 62px;}
        .event .container .row .Featured .circule {
        width: 52px;
        height: 52px;
        border-radius:50% ;
        background-color: #ff4800;
        position: absolute;
        bottom: 98px;
        left: 432px;
        -webkit-border-radius:50% ;
        -moz-border-radius:50% ;
        -ms-border-radius:50% ;
        -o-border-radius:50% ;color:#Fff ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .event .container .row .Featured .circule::after {
        content: "";
        width: 83px;
        height: 5px;
        background: #d6dee1;
        position: absolute;
        bottom: 25px;
        left: 52px;
        border-radius:5px ;
        -webkit-border-radius:5px ;
        -moz-border-radius:5px ;
        -ms-border-radius:5px ;
        -o-border-radius:5px ;
    }
    .event .container .row .Featured .gray .spans {
    color: #929191;
    display: flex;
    justify-content: space-between;
    }
        /* 
=======================================
start event Media 100px
========================================
*/
@media(max-width:1000px){

    .event .container .row {
        align-items: unset;
        flex-flow: column wrap;
      }
      .event .container .row .upcoming {
        width: 100%;}
        .event .container .row .upcoming h2 {

            font-size: 34px}

          .event .container .row .Featured {
            width: 100%;
          
          }
          .event .container .row .Featured .row {
            margin-bottom: 70px;
            flex-direction: row;
          }
          .event .container .row .Featured .row .h-p {
            width: 60%;
          }
          .event .container .row .Featured .circule {
            bottom: 98px;
            left: 511px;
          }
          .event .container .row .Featured .circule::after {

            width: 57px;
   

          }
    
    
}
    /* 
=======================================
start event Media 450px
========================================
*/
@media(max-width:450px){
    .event .container{width: 100%;}
    .event .container .row {
        align-items: unset;
flex-flow: column wrap;
      }
      .event .container .row .upcoming {
        width: 100%;}
        .event .container .row .upcoming h2 {

            font-size: 34px}
        .event .container .row .upcoming .row {
            
          }
          .event .container .row .upcoming .row .img {
            width: 11%;
          }
          .event .container .row .upcoming .row .h-p {
            width: 55%;
          }


          .event .container .row .Featured {
            width: 100%;
          
          }
          .event .container .row .Featured .row {
            margin-bottom: 70px;
            flex-direction: column;
          }
          .event .container .row .Featured .row .img {
            width: 100%;
            margin-bottom: 30px;
          }
          .event .container .row .Featured .row .img img {
            width: 100%;
          }
          .event .container .row .Featured .row .h-p {
            width: 100%;
          }
          .event .container .row .Featured .circule {
            bottom: 98px;
            left: 238px;
     
          }
          .event .container .row .Featured .circule::after {

            width: 57px;
   

          }
    
    
}
/* 
=======================================
start cause
========================================
*/
.cause {
    margin-top: 100px;
    background-image: url(/image/cause-bg.jpg.webp);
    position: relative;
    /* z-index: -1; */
    background-size: cover;
    background-repeat: no-repeat;


}
.cause::after
 {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(232,237,238,.8);
    left: 0;
    bottom: 0;


}
.cause .container {
    overflow: hidden;
}
.cause .container h2 {
    margin:80px 0 ;
    font-size: 40px;position: relative;z-index: 1;
}

.cause .container h2::after {
    content: "";
    width: 71px;
    height: 5px;
    border-radius:5px ;
    background-color: #ff4800;
    position: absolute;
    top: 66px;
    left: 14px;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.cause .container .row .items {
   width: 32%;
   z-index: 1;
   background-color: #fff;
   margin-bottom: 118px;}
.cause .container .row .items .img {
    margin-bottom: 20px;
    position: relative;

}
.cause .container .row .items .img::after {
    content: "";
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
        transition: .4s all ease;
    -webkit-transition: .4s all ease;
    -moz-transition: .4s all ease;
    -ms-transition: .4s all ease;
    -o-transition: .4s all ease;
}
.cause .container .row .items .img:hover::after {
    content: "";
    background-color: black;
    opacity: .5;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
}
.cause .container .row .items .img img {
    width: 100%;
}
.cause .container .row .items .img .btn {
    background-color: #ff4800;
    border: none;
    padding: 15px 40px;
    border: 2px solid transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: #Fff;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    position: absolute;
    left: 24%;
    top: 37%; opacity: 0;
    transition: .4s all ease;
    -webkit-transition: .4s all ease;
    -moz-transition: .4s all ease;
    -ms-transition: .4s all ease;
    -o-transition: .4s all ease;
    z-index: 1;
}
.cause .container .row .items .img:hover .btn {
    opacity: 1;
}
.cause .container .row .items .h-p {
/* text-align: center; */
margin-left: 10px;
margin-bottom: 40px;
}
.cause .container .row .items .h-p h3 {
    /* text-align: center; */
    margin-bottom: 30px;
    }
    .cause .container .row .items .h-p h3 a {
        text-decoration: none;
        color: black;
        }
        .cause .container .row .items .h-p h3 a:hover {
            text-decoration: underline;

            }
            .cause .container .row .items .h-p p {
                color: #929191;

                }
.cause .container .row .items .line {
    width: 71%;
    height: 5px;
    background-color: #ff4800;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 10px;

  }
  .cause .container .row .items .line .circule {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #ff4800;
    position: absolute;
    bottom: -25px;
    right: -9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #Fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cause .container .row .items .line .circule::after {
    content: "";
    width: 63px;
    height: 5px;
    background: #d6dee1;
    position: absolute;
    bottom: 25px;
    left: 52px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
.cause .container .row .items .spans {

    margin-left: 10px;
        color: #929191;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-right: 20px;

      }
            /* 
=======================================
start cause Media 1000px 
========================================
*/
@media (max-width:1000px){
    .cause .container  {
        width: unset;
     }
    .cause .container .row {
        flex-flow: row wrap;
     }
    .cause .container .row .items {
        width: 49%;
        z-index: 1;
        background-color: #fff;
        margin-bottom: 118px;}
     .cause .container .row .items .img {
         margin-bottom: 20px;
         position: relative;
     
     }
}

      /* 
=======================================
start cause Media 450p-x 
========================================
*/
@media (max-width:450px){
    .cause .container  {
        width: 95%;
     }
    .cause .container .row {
        flex-direction: column;
     }
    .cause .container .row .items {
        width: 100%;
        z-index: 1;
        background-color: #fff;
        margin-bottom: 118px;}
     .cause .container .row .items .img {
         margin-bottom: 20px;
         position: relative;
     
     }
}
      /* 
=======================================
start limestone 
========================================
*/
.limestone{
    margin-top: 200px;
}
.limestone .container .row {
overflow: hidden;}
.limestone .container .row .h-p{
    width: 60%;overflow: hidden;
}
.limestone .container .row .h-p h1 {
    font-size: 40px;
    margin-bottom: 60px;position: relative;
    width: 80%;
}
    
.limestone .container .row .h-p h1::after {
    content: "";
    width: 71px;
    height: 5px;
    border-radius:5px ;
    background-color: #ff4800;
    position: absolute;
    top: 262px;
    left: -1px;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.limestone .container .row .h-p p {
    color: #929191;
    width: 80%;

}
.limestone .container .row .hands {
    display: flex;
    width: 38%;    justify-content: space-between;
    align-items: flex-end;
    margin-top: 188px;
}
.limestone .container .row .hands .parent  {
text-align:center ;    


}
.limestone .container .row .hands .parent .counter {
    margin-bottom: 30px;
    


}
.limestone .container .row .hands .parent span:first-of-type {
font-size: 30px;   font-weight: bold; 


}
.limestone .container .row .hands .parent p {
    margin-top: 10px;
    


}
      /* 
=======================================
start limestone Media 450px
========================================
*/
@media(max-width:450px){
    .limestone .container {
        width: 95%;
    }
    .limestone .container .row {
        flex-flow: column wrap;}
        .limestone .container .row .h-p{
            width: 100%;
        }
        .limestone .container .row .h-p h1{
            font-size: 30px;width: 100%;
        }
        .limestone .container .row .h-p p {
            width: 100%;
            margin-top: 89px;
        
        }
        .limestone .container .row .hands {
            display: flex;
            width: 100%;            
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 71px;
            flex-direction: column;
        }
        .limestone .container .row .hands .parent {
            width: 100%;  
            margin-bottom: 60px;          

}}
/* 
fooooooooooooooooot

*/
footer {
    background-image: url(/image/foot-bg.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 200px;position: relative;z-index: 1;
    padding-top: 80px;
}
footer::after {
    background: rgba(22,22,22,.92);

    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;z-index: -1;
}
footer .container .row  {
    justify-content: space-between;
    align-items: flex-start
    ;}
    
footer .container .row .logo {
width: 25%;
;}
footer .container .row .logo p {
    color: #929191;
    line-height: 1.7;
    margin: 50px 0
    ;}
footer .container .row .logo i {
    color: #fff;
    margin-right: 30px
    ;}
    footer .container .row .logo i:hover {
        color:#ff4800
        
        ;}
footer .container .row .list {
    width: 22%;margin-top: 0
    ;}
footer .container .row .list h2 {
color: #fff                  ;
margin-bottom: 40px;
margin-top: 0;
}
footer .container .row .list ul {
list-style: none;    }
    
footer .container .row .list ul li {
margin-bottom: 15px;
border: 0;
}

footer .container .row .list ul li a {
    text-decoration: none;
    color: #929191;
}
footer .container .row .list ul li a:hover {
    color:#ff4800
}

footer .container .row .list ul li span {
    color: #ff4800;
    margin-top: 10px;
    text-transform: capitalize;
    display: block;
    font-size: 12px;
    margin-bottom: 50px;
}
footer .container .row .list ul li i {
  color: #ff4800;
margin-right: 20px;
font-size: 20px;

}
footer .container .row .contact ul li:last-of-type span {
color: #929191;
margin-left: 35px;
font-size: 18px;
}
footer .container .row .contact ul li a:hover {
    color: #929191;
}
footer .container .row .contact input {
    color: #929191;
    padding: 10px 30px;
    outline: none;
}
footer .container .row .contact button {
    color: #fff;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #ff4800;
    font-size: 16px;
}
/* 
fooooooooooooooooot mediaaa 1000px

*/
@media (max-width:1000px){
    footer .container .row  {
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap
        ;}
        footer .container .row .logo {
            width: 49%;
            margin-bottom: 50px;
          }
          footer .container .row .list {
            width: 49%;
            margin-bottom: 50px;
          }
}



/* 
fooooooooooooooooot mediaaa 450px

*/
@media (max-width:450px){
    footer .container .row  {
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: column wrap
        ;}
        footer .container .row .logo {
            width: 100%;
            margin-bottom: 50px;
          }
          footer .container .row .list {
            width: 100%;
            margin-bottom: 50px;
          }
}


/* 
copy 

*/ 
.copy{
    background: #131212;
    text-align: center;
    color: #929191;
    padding: 30px 0;
}
.copy p{
line-height: 1.6;
}
.copy span{
    color: #262626;

}
/* 
copy Media 1000px

*/
@media (max-width:1000px){
    .copy p{
        font-size: 14px;
        }
}